body {
  background-color: #141516;
}

h1 {
  font-family: 'times new roman Neue', Times New Roman;
  font-style: normal;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: normal;
}

h6 {
  color: #FFD071;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 2px;
}

p {
  color: #838b91;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
}

footer {
  color: white;
  background-color: #141516;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 70px 70px;
  text-align: center;
}

footer ul li {
  display: inline;
  padding: 0 30px;
}

a:hover {
  text-decoration: none;
}

.jumbotron {
  background-color: #141516;
  background-image: url("../img/SChomepage-jumbotron.PNG");
  background-size: 100% 100%;
  margin: 0;
  min-height: 600px;
}

.description {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  background-color: #141516;
  color: white;
  padding: 50px;
}

.year {
  color: white;
  font-family: 'Inconsolata', monospace;
}

.project {
  color: white;
}

.tech {
  color: white;
}

.directories {
  display: inline-block;
  color: white;
  list-style: none;
}

.directories:hover {
  color: #ffd071;
  text-decoration: none;
}

.brand-container, .screenshots {
  background-color: white;
}

#brand {
  margin-bottom: 0;
}

.brand-container h1 {
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 70px;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 100px;
}

.screenshots {
  text-align: center;
  padding-bottom: 150px;
}

.screenshots img {
  display: inline;
  width: 80%;
}

.imac {
  text-align: right;
}

.iphonex {
  text-align: left;
}

.colour-choice {
  background-color: #141516;
  color: white;
  text-align: center;
  padding: 100px 0 100px 0;
}

.colour-choice h1 {
  font-family:  Times New Roman;
  color: #838b91;
}

.colour-choice p {
  color: white;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 2px;
}

.colour-palette {
  height: 50%;
  width: 50%;
  padding-top: 3%;
}

.typography {
  background-color: #141516;
  color: white;
  padding: 30px 200px 100px;
}

.typo {
  background-color: #141516;
  text-align: center;
}

.typo p {
  color: white;
  font-family: 'Inconsolata', monospace;
}

.typo h1 {
font-family: Times New Roman;
  font-weight: 900;
}

.woogie {
  text-align: left;
}

.row {
  justify-content: center;
}

.font-text {
font-family: 'Bebas Neue', sans-serif;
}

.first-row-text {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 900;
  font-size: 56px;
  line-height: normal;
}

.second-row-text {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
}

.third-row-text {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.text-example {
  $grid-gutter-width: 50px !default;
}

.text-box1 {
  background: white;
  color: black;
  padding: 60px;
}

.text-box1 p {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 45px;
  font-weight: 900;
}

.text-box2 {
  background-color: #FFD071;
  padding: 60px;
}

.text-box2 p {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 45px;
  font-weight: 400;
}

.homepage {
  background-color: #141516;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.strategiContent-full-page-capture {
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.explanation {
  background-color: #002266;
  padding: 60px;
}

.explanation h5 {
  color: #FFD071;
font-family: 'Bebas Neue', sans-serif;
  font-size: 15px;
}

.explanation p {
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 35px;
  font-weight: 900;
}

.icons-container {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}


.icons-container h1 {
  color: black;
}


.first-icon-row {
  padding-top: 5%;
}

.second-icon-row {
  padding-top: 15%;
}

.repeat-icon {
  text-align: center;
  padding: 50px 0 0 0;
}

.boosting-trust {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.bloginho {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.brand-aware {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.heart {
  color: black;
}

.contact-me {
  background-color: #202122;
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
}

.home {
  padding-bottom: 1%;
}

.back-to-home {
  display: inline;
}

.arrow {
  font-size: 120%;
  padding-left: 0.1%;
}

.right-arrow {
  font-size: 120%;
  padding-right: 0.1%;
}

.next-project {
  padding-left: 0.1%;
}



#footer ul li a:hover {
  text-decoration: none !important;
}

#date {
  font-size: 12px;
  padding-top: 20px;
}
