.jumbotron {
background-image: url("../img/tindog-jumbotron.png");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 0;
min-height: 600px;
}

.description {
  background-color: black;
  color: white;
  padding: 50px;
}

#brand h1 {
  font-family: ubuntu;
  font-weight: bold;
}

.parallax {
  /* The image used */
  background-image: url("../img/tindog-jumbotron.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}
